<p-menubar class="flex">
    <ng-container class="flex-row">
      <a routerLink="/" class="p-menuitem-link">
        <span class="pi pi-home"></span>
        <span class="ml-2">Home</span>
      </a>
      <a routerLink="/project" class="p-menuitem-link">
        <span class="pi-home"></span>
        <span class="ml-2">Project</span>
      </a>
      <a routerLink="/contact" class="p-menuitem-link">
        <span class="pi-home"></span>
        <span class="ml-2">Contact</span>
      </a>
    </ng-container>
</p-menubar>
