@import "primeicons/primeicons.css";
@import "primeng/resources/primeng.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

.header-style {
  color: #27374D;
  font-size: 2.0rem;
  font-weight: 700;
}

.body {
  display: block;
  background-color: #9DB2BF;
  min-height: 100vh;
}

.card-color {
  color: #526D82;
}
