@import "primeicons/primeicons.css";
@import "primeng/resources/primeng.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

.headerStyle {
  color: #4b5563;
  font-size: 2.0rem;
  font-weight: 700;
}
