<div class="flex flex-col mt-4 items-center overflow-auto">
  <h1 class="text-center header-style mb-5">The Board</h1>
  <p-image
    alt="Image Not Found"
    src="https://content.instructables.com/FPI/EUBU/FD80BVW8/FPIEUBUFD80BVW8.jpg?auto=webp&frame=1&fit=bounds&md=2acaa2c8483d0b367bbe761f429b3ee6">
  </p-image>
  <p class="mt-5 text-center">The board setup is as shown. Notice that it is structured such that the bottom right tile
    of each players respective
    side is a white tile.</p>
  <p-card
    class="flex justify-center mr-32 ml-32 mt-4 custom-card"
    header="Game Pieces">
    <p-carousel
      class="mr-20 ml-20 mt-10 p-4"
      [value]="pieces"
      [numVisible]="3"
      [circular]="true"
      [responsiveOptions]="responsiveOptions">
      <ng-template let-piece pTemplate="piece">
        <p-card [header]="piece.name"
                class="flex justify-evenly">
          <p-image
            [src]="piece.image">
          </p-image>
          <div class="flex gap-3 mt-5">
            <p-button (click)="op.toggle($event)" label="Info" severity="secondary" class="w-full" styleClass="w-full"/>
            <p-overlayPanel #op [style]="{width: '320px'}">
              <div class="flex flex-col gap-2">
                {{ piece.description }}
              </div>
            </p-overlayPanel>
          </div>
        </p-card>
      </ng-template>
    </p-carousel>
  </p-card>
  <p-card class="flex justify-center mr-32 ml-32 mt-4 custom-card">
    <h1 class="header-style">Castling</h1>
    <div class="flex flex-row">
      <div class="w-1/2">
    <p class="text-centers">This move allows for your king and rook to switch places under certain conditions. The king and rook both must have not moved yet. The king is not allowed to castle while in check, or if the king would land in check after castling.
      When castling, the king will move two spaces in the direction of the rook it is castling with, and the rook will be placed on the opposite side of the king.</p>
      </div>
    <div class="flex flex-row gap-2 justify-center w-1/2">
      <p-image
        alt="Image Not Found"
        src="https://content.instructables.com/FKL/G0FC/FD80BVVZ/FKLG0FCFD80BVVZ.jpg?auto=webp&frame=1&fit=bounds&md=MjAxMy0xMi0xMCAwMToyNTowNi4w">
      </p-image>
      <p-image
        alt="Image Not Found"
        src="https://content.instructables.com/FXF/02W2/FD80BVWF/FXF02W2FD80BVWF.jpg?auto=webp&frame=1&fit=bounds&md=MjAxMy0xMi0xMCAwMToyNTowOC4w">
      </p-image>
      <p-image
        alt="Image Not Found"
        src="https://content.instructables.com/FXF/02W2/FD80BVWF/FXF02W2FD80BVWF.jpg?auto=webp&frame=1&fit=bounds&md=MjAxMy0xMi0xMCAwMToyNTowOC4w">
      </p-image>
    </div>
    </div>
    <h1 class="header-style">En Passant</h1>
    <div class="flex flex-row">
      <div class="w-1/2">
    <p>This special move means "in passing" in French. It is only allowed if the opponent moves their pawn forward two spaces. If your pawn and the opponents are next to each other at this moment, you can capture their pawn.
      Your pawn will move diagonally to the space behind the opponents, and their pawn will be captured.</p>
      </div>
    <div class="flex flex-row gap-2 justify-center w-1/2">
    <p-image
      alt="Image Not Found"
      src="https://content.instructables.com/FK5/5VQ2/FD80BVW4/FK55VQ2FD80BVW4.jpg?auto=webp&frame=1&fit=bounds&md=MjAxMy0xMi0xMCAwMToyNTowNy4w">
    </p-image>
    <p-image
      alt="Image Not Found"
      src="https://content.instructables.com/F7N/PKYZ/FD80BVW3/F7NPKYZFD80BVW3.jpg?auto=webp&frame=1&fit=bounds&md=MjAxMy0xMi0xMCAwMToyNTowNi4w">
    </p-image>
    <p-image
      alt="Image Not Found"
      src="https://content.instructables.com/FUG/B87U/FD80BVW2/FUGB87UFD80BVW2.jpg?auto=webp&frame=1&fit=bounds&md=MjAxMy0xMi0xMCAwMToyNTowNi4w">
    </p-image>
    </div>
    </div>
  </p-card>
</div>
